/examples/*
!/examples/*.*
/examples/.deps
/examples/.libs
/src/.deps
/src/.libs
/tests/*
!/tests/*.*
/tests/.deps
*.o
*.lo
*.la
*.so
*.so.*
Makefile
Makefile.in
/configure
/config.*
/aclocal.m4
/autom4te.cache
/compile
/depcomp
/libtool
/ltmain.sh
/ar-lib
/missing
/install-sh
/doxygen.cfg
/libusbg.pc
