/examples/*
!/examples/*.*
/examples/.deps/
/examples/.libs/
/include/usbg/usbg_version.h
/src/.deps/
/src/.libs/
/src/function/.deps/
/src/function/.dirstamp
/tests/*
!/tests/*.*
/tests/.deps/
*.o
*.lo
*.la
*.so
*.so.*
Makefile
Makefile.in
/configure
/config.*
/aclocal.m4
/autom4te.cache
/compile
/depcomp
/libtool
/ltmain.sh
/ar-lib
/missing
/install-sh
/doxygen.cfg
/libusbgx.pc
/LibUsbgxConfig.cmake
